/* Responsive */


@media (max-width: 1440px) {
  .banner-statistics-wrapper {
    max-width: 1200px;
  }

  .banner-statistics-wrapper .col:nth-child(1) {
    flex: 0 0 350px;
  }

  .banner-statistics-wrapper .col:nth-child(2) {
    flex: 0 0 460px;
  }

  .banner-statistics-wrapper .col:nth-child(3) {
    flex: 0 0 340px;
  }
}

@media (max-width: 1199px) {
  .hdr_menu li {
    margin-right: 20px;
  }

  .banner-statistics-wrapper .col:nth-child(1),
  .banner-statistics-wrapper .col:nth-child(2),
  .banner-statistics-wrapper .col:nth-child(3) {
    flex: auto;
    width: 100%;
    margin-bottom: 30px;
  }

  .seo-results-graph-outer {
    display: flex;
    gap: 30px;
  }

  .seo-results-graph-outer .seo-results-graph-card {
    width: 50%;
  }

  .location-marketing-card .data {
    max-width: 260px;
  }
}

@media (max-width: 991px) {
  .logo {
    width: 100px;
    display: block;
  }

  .sticky .logo {
    width: 100px;
  }

  .nav_holder {
    padding: 10px 0;
  }

  .hdr_menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    transform: translateX(100%);
    background: #fff;
    overflow-y: auto;
    transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
    padding: 30px 0;
    z-index: 99;
  }

  .hdr_menu ul {
    padding-top: 50px;
  }

  .hdr_menu ul li {
    width: 100%;
    transition: all 0.4s ease-in-out;
  }

  .hdr_menu ul li.menu-item-has-children .sub-menu {
    display: block;
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    padding: 0px 10px 0;
    background-color: transparent;
    box-shadow: none;
    transform: none;
    transition: initial !important;
    -webkit-transition: initial !important;
  }

  .hdr_menu ul li.menu-item-has-children ul li {
    padding: 5px 0;
    line-height: 1.5;
  }

  .hdr_menu li {
    margin-right: 0;
    padding-right: 0;
    border: 0;
    margin-bottom: 0px;
  }

  .hdr_menu li a {
    font-size: 15px;
    font-weight: 400;
    display: block;
    color: #000000;
    padding: 14px 20px;
  }

  .hdr_menu li a:hover,
  .sticky .hdr_menu li:hover a {
    color: var(--primary-color) !important;
  }

  .hdr_menu li.current-menu-item a {
    color: #fff;
    background-color: var(--primary-color);
  }

  .hdr_menu li a::before {
    display: none;
  }


  .hdr_menu li.menu-item-has-children .sub-menu a {
    color: #000;
    font-size: 15px;
  }

  .hdr_menu li.menu-item-has-children .sub-menu a:hover {
    color: var(--primary-color);
    padding-left: 0;
  }

  .hdr_menu li.menu-item-has-children.current-menu-item>a {
    color: var(--primary-color);
  }

  .hdr_menu li.menu-item-has-children.current-menu-item>a:hover {
    color: var(--primary-color);
  }

  .hdr_menu li>a::after {
    display: none;
  }

  .sticky .hdr_menu li.current-menu-item a {
    color: var(--primary-color);
  }


  .sticky .hdr_menu li a {
    color: #000000;
    background-color: transparent;
  }

  .menu_btn {
    width: 30px;
    display: block;
  }

  .menu_btn span {
    height: 2px;
    display: block;
    background: var(--primary-color);
    margin-left: auto;
    transition: 0.4s;
  }

  .menu_btn span:nth-child(2) {
    width: 80%;
  }

  .menu_btn span+span {
    margin-top: 5px;
  }

  .menu_trigger {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
  }

  .mobile_menu_active {
    overflow: hidden;
  }

  .mobile_menu_active .menu_trigger {
    right: 15px;
    top: 40px;
    transform: none;
    position: fixed;
  }

  .mobile_menu_active .hdr_menu {
    transform: translateX(0px);
  }

  .mobile_menu_active .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 30;
  }

  .mobile_menu_active .menu_btn span {
    background: var(--primary-color);
  }

  .mobile_menu_active .menu_btn span:first-child {
    transform: rotate(45deg);
  }

  .mobile_menu_active .menu_btn span:last-child {
    transform: rotate(-45deg);
  }

  .mobile_menu_active .menu_btn span:nth-child(2) {
    display: none;
  }

  .mobile_menu_active .menu_btn span+span {
    margin-top: -2px;
    width: 100%;
  }

  .mobile_menu_active .hddr_inr {
    position: static;
  }

  .mobile_menu_active .sticky .nav_holder {
    position: fixed;
  }

  .mobile_menu_active .nav_inr {
    position: static;
  }

  .overlay {
    overflow: hidden;
  }

  .nav_inr {
    position: relative;
  }

  .sub_menu_opener {
    display: block;
    pointer-events: none;
  }

  .responisve-logo {
    display: block;
    width: 270px;
    margin-left: 20px;
  }

  .header-social-list-outer {
    display: none;
  }

  .header-social-list-outer.responsive-header-social-btn {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }

  .responsive-menu-additional-components {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .header-start-project-btn {
    margin-left: 0;
    margin-right: 50px;
  }

  .top-header-logo {
    display: none;
  }

  .header-top-bar-outer .header-top-bar-holder .top-header-right-content {
    margin-left: 0;
    justify-content: space-between;
    width: 100%;
  }

  .contact-btn {
    margin-right: 50px;
  }

  .hdr_menu li.menu-item-has-children .sub-menu li.current-menu-item a {
    padding-left: 0;
  }

  .header-contact-btn {
    margin-right: 60px;
  }

  .responsive-menu-additional-components .header-social-links {
    display: block;
  }

  .location-marketing-card .data {
    max-width: 100%;
    flex: 1;
    padding-left: 25px;
  }

  .location-marketing-wrapper [class*=col-]:nth-child(odd) .location-marketing-card .holder .data {
    text-align: center;
  }

  .location-marketing-wrapper [class*=col-]:nth-child(odd) .location-marketing-card .holder {
    flex-direction: row;
  }

  .yelp-partners-cta-wrapper {
    background-color: #fafafa;
    padding: 40px 0;
  }

  .yelp-partners-cta-wrapper::before {
    display: none;
  }

  .digital-marketing-funnel-table::before {
    display: none;
  }

  .digital-marketing-funnel-description {
    padding-left: 0;
    position: relative;
    margin-top: 30px;
  }

  .footer-logo-holder {
    justify-content: center;
  }

  .footer-social {
    text-align: center;
  }

  .logo {
    position: static;
  }

  .banner-social-list {
    display: none;
  }

  .seo-banner-wrapper .banner-content-outer {
    flex-direction: column;
  }

  .seo-banner-wrapper .banner-content-outer .banner-text {
    max-width: 100%;
  }

  .seo-banner-wrapper .banner-review-outer {
    margin-left: 0;
    width: 100%;
  }

  .seo-banner-wrapper .seo-results-graph-outer .seo-results-graph-card {
    width: 100%;
  }

  .coprehensive-seo-wrapper .coprehensive-seo-content-holder .section-heading {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .yelp-banner-wrapper .banner-graphics figure:nth-child(2) {
    display: none;
  }

  .yelp-banner-wrapper .banner-content-outer .banner-text {
    min-width: 100%;
  }

  .yelp-banner-wrapper .banner-content-outer .banner-text p {
    max-width: 100%;
  }

  .banner-graphics {
    margin-top: 30px;
  }

  .yelp-banner-wrapper .banner-graphics {
    width: 100%;
  }

  .yelp-banner-wrapper figure:first-child img {
    width: 100%;
  }

  .yelp-banner-wrapper .banner-graphics figure:nth-child(3) {
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    top: -140px;
  }

  .yelp-banner-wrapper .banner-graphics {
    width: 100%;
    margin-top: 100px;
  }

  .section-heading h2,
  .contact-us-data h1,
  .about-info-wrapper .section-heading h1 {
    font-size: 35px;
  }

  .rank-boosting-approach-pic {
    margin-left: 0;
  }

  .yelp-ads-process-pic {
    margin-bottom: 30px;
  }

  .how-yelp-works-listing-pic {
    text-align: center;
  }

  .why-choose-yelp-pic {
    text-align: center;
  }

  .how-yelp-works-wrapper .section-heading::before {
    display: none;
  }

  .hdr_menu ul li.responsive-menu-item {
    display: block !important;
  }

  .hdr_menu ul li.responsive-menu-item a {
    font-family: var(--secondary-font);
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--secondary-color);
    padding: 18px 30px;
    min-width: 300px;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    z-index: 9;
    margin-top: 20px;
  }

  .hdr_menu ul li.responsive-menu-item a::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0px;
    left: -10px;
    width: calc(100% - 40px);
    height: 100%;
    background-color: var(--primary-color);
    transform: skewX(-15deg);
    z-index: -1;
    transition: var(--primary-transition);
  }

  .hdr_menu ul li.responsive-menu-item a::after {
    display: block;
    content: "\f095";
    position: absolute;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    right: 20px;
  }

  .hdr_menu ul li.responsive-menu-item a:hover {
    color: #fff !important;
  }

  .about-info-pic img {
    width: 100%;
    margin-bottom: 30px;
  }

  .about-info-wrapper .section-heading {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 26px;
  }

  .input-field {
    margin-bottom: 15px;
  }

  .banner-wrapper {
    padding: 50px 0 20px;
    border-radius: 0;
  }

  .banner-wrapper .banner-text {
    position: relative;
    z-index: 2;
  }

  .section-padding {
    padding: 50px 0;
  }



  .logo,
  .sticky .logo {
    width: 80px;
  }

  .banner-wrapper .banner-text h1 {
    font-size: 32px;
  }

  .seo-results-graph-outer {
    flex-wrap: wrap;
    gap: 0;
  }

  .seo-results-graph-outer .seo-results-graph-card {
    width: 100%;
  }

  .marketing-service-card {
    padding: 20px 15px;
  }

  .marketing-service-card::before {
    display: none;
  }

  .marketing-service-card a,
  .marketing-service-card a h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .digital-marketing-campaign-card .holder {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .digital-marketing-campaign-card .media {
    flex: none;
    margin-right: 0;
    width: 100%;
    max-width: 50%;
    margin-bottom: 25px;
  }

  .location-marketing-card .holder,
  .location-marketing-wrapper [class*=col-]:nth-child(odd) .location-marketing-card .holder {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .location-marketing-card .data {
    padding-left: 0;
    margin-top: 25px;
  }

  .location-marketing-card .media {
    width: 90px;
    min-width: 90px;
    height: 80px;
  }

  .location-marketing-card .media::before {
    display: none;
  }

  .yelp-partners-cta-wrapper .holder {
    flex-direction: column;
    text-align: center;
  }

  .yelp-partners-cta-wrapper .holder h2 {
    font-size: 28px;
  }

  .yelp-partners-cta-wrapper .holder .media {
    min-width: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .digital-marketing-funnel-table {
    display: block !important;
    margin-top: 50px;
  }

  .digital-marketing-funnel-table-card {
    width: 100%;
    margin-bottom: 35px;
  }

  .business-revolution-card .holder {
    flex-direction: column;
    text-align: center;
  }

  .business-revolution-card .media {
    min-width: auto;
    max-width: 120px;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .digital-marketing-funnel-wrapper .section-heading p {
    margin: 0 auto 40px;
  }

  .business-revolution-card::before {
    display: none;
  }

  .footer-top-row>[class*="col-"],
  .footer-top-row>[class*="col-"]:nth-child(2),
  .footer-top-row>[class*="col-"]:last-child {
    padding: 0 15px;
    border: 0;
    margin-bottom: 30px;
  }

  .footer-wrapper {
    padding-top: 40px;
  }

  .business-revolution-wrapper .row {
    margin: 0 -15px;
  }

  .business-revolution-wrapper [class*=col-] {
    margin-bottom: 25px;
    padding: 0 15px;
  }

  .sticky .nav_holder {
    padding: 10px 0px;
  }

  .banner-wrapper,
  .main-content-wrapper section {
    overflow-x: hidden;
  }

  .seo-metrics-wrapper .digital-marketing-funnel-table-card:first-child {
    width: 100%;
  }

  .coprehensive-seo-card {
    flex-direction: column;
    gap: 25px;
  }

  .footer-cta-wrapper .section-heading h2,
  .about-info-wrapper .section-heading h1,
  .contact-us-data h1 {
    font-size: 28px;
  }

  .seo-metrics-wrapper {
    padding-top: 40px;
  }

  .digital-marketing-funnel-wrapper .section-heading p {
    margin: 0;
  }

  .seo-metrics-wrapper .digital-marketing-funnel-table-card:last-child {
    width: 100%;
  }

  .seo-trends-wrapper {
    padding-bottom: 0;
  }

  .faq_acrdn .accordion-item .accordion-header .accordion-button {
    font-size: 18px;
  }

  .seo-contact-form-outer {
    padding: 30px 20px;
  }

  .power-tailored-seo-wrapper {
    padding-bottom: 0;
  }

  .post-content-wrapper {
    padding-top: 70px;
  }

  .post-content-holder h1 {
    font-size: 28px;
  }

  .post-content-holder h2 {
    font-size: 26px;
  }

  .post-content-holder h3 {
    font-size: 22px;
  }

  .section-heading h2 {
    font-size: 30px;
  }

  .yelp-banner-wrapper .banner-graphics figure:nth-child(3) {
    top: -28%;
  }

  .yelp-banner-wrapper .banner-graphics {
    margin-top: 130px;
  }

  .why-yelp-list-outer .list-item p {
    font-size: 16px;
  }

  .why-yelp-list-outer .list-item {
    padding: 20px;
  }

  .yelp-cta-wrapper {
    padding: 0;
  }

  .yelp-cta-wrapper .data-left {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .yelp-cta-wrapper .data-left .media {
    margin-right: 0;
  }

  .how-yelp-works-wrapper .section-heading {
    margin-bottom: 40px;
  }

  .key-contrast-features-wrapper {
    padding: 40px 0;
  }

  .advertising-compare-table table th,
  .advertising-compare-table table td {
    padding: 15px 10px;
    white-space: normal;
    font-size: 16px;
    word-break: break-all;
  }

  .impact-of-yelp-ads-data ul {
    -moz-column-count: 2;
    column-count: 2;
    margin-top: 25px;
  }

  .rank-boosting-approach-list-outer .list-item {
    padding: 15px;
  }

  .yelp-cta-wrapper .data-left .section-heading h2 {
    font-size: 28px;
  }

  .how-yelp-works-card {
    padding: 15px;
  }

  .why-choose-yelp-wrapper .section-heading,
  .impact-of-yelp-ads-wrapper .section-heading {
    margin-bottom: 0;
  }

  .footer-cta-wrapper {
    text-align: center;
  }
}